<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationBeta"
        tools:targetApi="31">
        <activity
            android:name=".ChangeForcedActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeRelativeActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeTargetActivity"
            android:exported="false" />
        <activity
            android:name=".ContinueThirdScreen"
            android:exported="false" />
        <activity
            android:name=".EighthScreen"
            android:exported="false" />
        <activity
            android:name=".FifthScreen"
            android:exported="false" />
        <activity
            android:name=".FirstScreen"
            android:exported="false" />
        <activity
            android:name=".ForcedActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".InfoRelativesActivity"
            android:exported="false" />
        <activity
            android:name=".InfoWishActivity"
            android:exported="false" />
        <activity
            android:name=".menu_register_login"
            android:exported="false" />
        <activity
            android:name=".SecondScreen"
            android:exported="false" />
        <activity
            android:name=".SeventhScreen"
            android:exported="false" />
        <activity
            android:name=".Sixth_Screen"
            android:exported="false" />
        <activity
            android:name=".TargetActivity"
            android:exported="false" />
        <activity
            android:name=".ThirdScreen"
            android:exported="false"
            android:label="@string/title_activity_third_screen" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>